@keyframes granim {
  0% {
    background-position: 10% 0%;
  }

  50% {
    background-position: 91% 100%;
  }

  100% {
    background-position: 10% 0%;
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

@keyframes pulsate {
  0% {
    transform: scale(0.1, 0.1);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: scale(1.2, 1.2);
    opacity: 0;
  }
}

blockquote {
  border: 0px;
  line-height: 2em;
  border-left: solid 3px #1e90ff;
  margin: 0px 25px 0px 25px;
  padding-left: 8px;
  padding-right: 8px;
  width: auto;
}

.granim-css {
  background: linear-gradient(90deg, #ffeb00, #ffffff, #fbff00);
  background-size: 200% 200%;
  animation: granim 0.725s ease infinite;
}

.rotate {
  animation-duration: 1.45s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-play-state: running;
  animation-name: rotation;
}

.rotate.stopRotate {
  animation-iteration-count: 1;
}

.pulsate-css {
  animation: pulsate 1s ease-out;
  animation-iteration-count: infinite;
  opacity: 0;
  background-color: transparent;
}

#outp {
  padding-bottom: 10px;
}

h1 {
  font-size: 1em;
  font-weight: normal;
}

h4 {
  display: inline;
  margin: 0;
}

.liste {
  list-style: none;
  padding-inline-start: 0;
}

.liste li {
  background: url(../pixra/cmalu_snime.svg) no-repeat 0px 1px transparent;
  padding-left: 20px;
}

.uoldeliste {
  margin: 5px 0 5px 0;
}

.cukta {
  margin-right: 3px;
  height: 18px;
  float: left;
}

.loading_elems {
  width: 38.2%;
  margin: 0 5px;
  text-overflow: ellipsis;
}

.loading_elems.simple {
  width: 100%;
}

#bangu_loading {
  font-style: italic;
}

#bangu_loading .cukta {
  float: none;
}

.judri {
  color: inherit;
}

/*
.border_gradient {
border: 8px solid #000;
padding: 5px 5px 5px 15px;
width: 300px;
}

#grad:after  {
  content: '';
  position: absolute;
  background-color: rgba(0,0,0, .7);
  top: 8px;
  bottom: 8px;
  left: 8px;
  right: 8px;
  background-image: -webkit-gradient(
          linear,right bottom,left bottom,
          color-stop(.75, #52882d),
          color-stop(0,  #eee)
  );
  border: 1px solid #fff;
}
div {
display: block;
height: 200px;
width: 500px;
border: solid 1px #CCC;
border-bottom: none;
position: relative;
}
div:after {
content:"";
background: -webkit-linear-gradient(left, rgba(92, 7, 52, 1) 0%, rgba(134, 29, 84, 1) 12%, rgba(255, 93, 177, 1) 47%, rgba(83, 0, 30, 1) 100%);
display: block;
height:10px;
width: 500px;
position: absolute;
bottom: 0;
}
*/

code {
  border: 1px solid #aaa;
  display: inline-block;
  padding: 2px 5px 2px 5px;
  border-radius: 3px;
  margin-left: 1px;
  margin-right: 1px;
}

.basna {
  background-color: #d1ff9e;
}

.heading {
  align-items: flex-start;
  flex-direction: row;
  display: flex;
  flex: 1;
}

.heading2 {
  margin-top: 3px;
}

.tfm {
  display: inline;
  font-style: italic;
  color: rgb(118, 118, 118);
}

.nasezvafahi {
  font-style: italic;
  color: rgb(118, 118, 118);
  cursor: default;
}

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                            supported by Chrome and Opera */
  cursor: default;
}

.nalojbo {
  color: #6a5acd;
}

.valsi,
.citri {
  padding: 0;
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;
  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.valsi pre {
  white-space: pre-wrap;
  /* Since CSS 2.1 */
  word-wrap: break-word;
  /* Internet Explorer 5.5+ */
}

.definition {
  margin-top: 5px;
  margin-bottom: 10px;
}

.definition img {
  max-width: 100%;
}

.notes {
  margin-left: 10px;
}

.mupligreku {
  border: 1px dashed #aaa;
  padding: 5px;
}

.subdefinitions {
  padding-left: 0px;
  border-left: solid 3px #1e90ff;
}

.term {
  margin-top: 9px;
  padding: 9px;
  text-align: justify;
  background: white;
}

.DIV_8:hover {
  height: calc(100% - 6px);
  width: calc(100% - 6px);
  top: 3px;
  left: 3px;
}

.DIV_1:hover,
.termouter:hover {
  /* outline: #999999 solid 3px; */
  box-shadow: inset -1px -1px #00138c, inset 1px 1px #0831d9,
    inset -2px -2px #001ea0, inset 2px 2px #166aee, inset -3px -3px #003bda,
    inset 3px 3px #0855dd;
  z-index: 2;
}

.terminner {
  border-top: solid 1px #ccc;
  border-right: solid 1px #ccc;
  border-bottom: solid 1px #ccc;
  /* box-shadow: 3px 3px 1px #ccc; */
  --tw-ring-offset-shadow: 0 0 transparent;
  --tw-ring-shadow: 0 0 transparent;
  --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 transparent),
    var(--tw-ring-shadow, 0 0 transparent), var(--tw-shadow);
}

.hue_rotate {
  filter: hue-rotate(90deg);
}

.hue_rotate_back {
  filter: hue-rotate(-90deg);
}

.rafsi {
  margin-top: 8px;
  font-size: 90%;
  display: flex;
  overflow: auto;
}

.rafsi .pamei {
  font-style: italic;
  margin-left: 15px;
}

.rafsi .pamei:first-child {
  margin-left: 0;
}

.kampu-dasri {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 42px;
  width: auto;
  padding: 0;
  border-top: 1px solid #707070;
  text-shadow: 1px 1px #4d4d4d;
}

.cnano-dasri {
  /* background: linear-gradient(
    to bottom,
    rgba(56,136,233, 1) 0%,
    rgba(34,87,213, 1) 8%,
    rgba(38,99,224, 1) 92%,
    rgba(25,65,165, 1) 100%
  ); */
  background: linear-gradient(180deg,
      #0997ff,
      #0053ee 8%,
      #0050ee 40%,
      #06f 88%,
      #06f 93%,
      #005bff 95%,
      #003dd7 96%,
      #003dd7);
  border-top: 1px solid #0831d9;
  text-shadow: 1px 1px #0f1089;
}

.catni-dasri {
  background: linear-gradient(to bottom,
      rgba(58,116,233, 1) 0%,
      rgba(34,87,210, 1) 8%,
      rgba(36,68,224, 1) 92%,
      rgba(25,48,164, 1) 100%
    );
  border-top: 1px solid #0831d9;
}

.fanva-dasri {
  background: linear-gradient(to bottom,
      rgba(210,58,233, 1) 0%,
      rgba(208,34,211, 1) 8%,
      rgba(224,36,224, 1) 92%,
      rgba(164,25,164, 1) 100%
    );
  border-top: 1px solid #c808d9;
}

.velcusku-dasri {
  background: linear-gradient(to bottom,
      rgba(214, 58, 233, 1) 0%,
      rgba(193, 34, 211, 1) 8%,
      rgba(205, 36, 224, 1) 92%,
      rgba(150, 25, 164, 1) 100%
    );
}

.rimni-dasri {
  background: linear-gradient(to bottom,
      rgba(230,47,0, 1) 0%,
      rgba(119,29,29, 1) 8%,
      rgba(220,4,4, 1) 92%,
      rgba(95,29,0, 1) 100%
    );
}

.arxivo-dasri {
  background: linear-gradient(to bottom,
      rgba(233, 195, 58, 1) ,
      rgba(211, 172, 34, 1) ,
      rgba(224, 183, 36, 1) ,
      rgba(164, 134, 25, 1) 
    );
}

#se-vasru-lo-galtu-dasri {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  font-size: 18px;
  color: #fff;
}

#site-title {
  margin-top: -1px;
  font-size: 18px;
  font-weight: bold;
  float: left;
  border-radius: 0px 0px 0.5em 0.5em;
  border-color: #333;
  border-width: 0px 1px 1px 1px;
  border-style: solid;
  height: 19px;
  padding: 12px 10px 14px 10px;
  cursor: pointer;
}

.cnano-search-mode-title-color {
  background: linear-gradient(to top right,
      rgba(63, 81, 181, 1) 0%,
      rgba(4, 119, 218, 1) 40%);
  box-shadow: 1px 1px 30px rgba(2, 119, 189, 1);
}

.catni-search-mode-title-color {
  background: linear-gradient(to top right,
      rgba(63, 81, 181, 1) 0%,
      rgba(4, 119, 218, 1) 40%);
  box-shadow: 1px 1px 30px rgba(2, 119, 189, 1);
}

.fanva-search-mode-title-color {
  background: linear-gradient(to top right,
      rgb(102 16 112 / 1) 0%,
      rgb(165 29 180 / 1) 40%);
  box-shadow: 1px 1px 30px rgba(82, 2, 189, 1);
}

.arxivo-search-mode-title-color {
  background: linear-gradient(to top right,
      rgba(211, 172, 34, 1) 0%,
      rgba(224, 183, 36, 1) 40%);
  box-shadow: 1px 1px 30px rgba(164, 134, 25, 1);
}

.arxivo-search-mode-title-color {
  background: linear-gradient(to top right,
      rgba(193, 34, 211, 1) 0%,
      rgba(205, 36, 224, 1) 40%);
  box-shadow: 1px 1px 30px rgba(150, 25, 164, 1);
}

.desktop-mode-title-color {
  background: rgba(38,99,224, 1);
  cursor: default;
}

.rimni-search-mode-title-color {
  background: linear-gradient(to top right,
      rgba(119,29,29, 1) 0%,
      rgba(220,4,4, 1) 40%);
  box-shadow: 1px 1px 30px rgba(95,29,0, 1);
}

.rimni-search-mode-title-color #logo {
  filter: sepia(1);
}

.velcusku-search-mode-title-color #logo {
  filter: hue-rotate(45deg);
}

#ciska {
  height: 27px;
  font-size: 120%;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid #777;
  padding: 2px 50px 2px 10px;
  transition: background 0.4s;
  margin-top: 4px;
  margin-left: auto;
  outline: 0;
  min-width: 0;
}

#ciska:not(:valid)~#kunti {
  display: none;
}

#ciska:not(:valid)~#clear {
  display: none;
}

#clear {
  float: right;
  position: absolute;
  border: 1px solid transparent;
  vertical-align: middle;
  outline: 0;
  cursor: pointer;
  margin-top: 6px;
  height: 0;
  background-color: transparent;
  background-image: url(../pixra/x.svg);
  background-position: center;
  background-repeat: no-repeat;
}

#clear:not(.pulsate-css) {
  background-color: rgba(255, 255, 255, 0.8);
}

#title {
  cursor: default;
}

.pointer {
  cursor: pointer;
}

#citri {
  /* display: inline; */
  padding: 0 3px 0 3px;
  margin: 8px 12px 6px;
  /* margin-bottom: 0; */
}

@media screen and (min-width: 700px) {
  .sidju {
    margin-left: 10%;
  }
}

#galtu-dasri {
  z-index: 200;
}

#content {
  z-index: 199;
  padding-bottom: 100px;
}

#contentWrapper {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  padding: 42px 0 0 0;
  overflow: hidden;
}

/* #scrollableContent {
  height: 100%;
  width: 100%;
  overflow: auto;
} */

@media screen and (min-width: 510px) and (max-width: 710px) {
  #galtu-dasri {
    padding: 0 10px 0 10px;
  }
}

@media screen and (min-width: 510px) {
  #clear {
    padding: 19px 10px 9px 36px;
    right: 4px;
    border-radius: 0 20% 0% 0%;
  }

  [data-jufra='titlelogo-inner'] {
    width: auto;
  }

  #kicne1 {
    display: none;
  }

  #se-vasru-lo-galtu-dasri {
    display: flex;
  }

  #ciska {
    border-radius: 5px;
  }
}

@media screen and (max-width: 509px) {
  body {
    font-size: 90%;
  }

  #sidju {
    flex-direction: column;
  }

  #citri {
    line-height: 150%;
    order: 2;
    margin-top: 10px;
  }

  #leitutci {
    order: 1;
  }

  #clear {
    padding: 19px 20px 9px 20px;
    right: 6px;
    width: 23px;
    background-size: 22px;
  }

  div {
    line-height: 150%;
  }

  #title>#site-title>img {
    /* padding: 0 4px 0 10px; */
    width: 23px;
    height: 23px;
  }

  #title>#site-title>img:nth-child(1)~img {
    display: none;
  }

  [data-jufra='titlelogo-inner'] {
    display: none;
  }

  #kicne1 {
    display: block;
    width: 6px;
  }

  #se-vasru-lo-galtu-dasri {
    display: flex;
    width: 100%;
  }

  .sidju {
    margin-left: 0%;
  }

  #ciska {
    width: 100%;
    padding: 2px 42px 2px 6px;
    border-radius: 2px;
    margin-right: 4px;
  }

  #ciska:not(.granim-css) {
    padding-right: 22px;
  }
}

::selection {
  background: rgba(56,136,233, 1);
  color: #fff;
  text-shadow: none;
}

body {
  font-family: Tahoma, Roboto, Helvetica, sans-serif;
  overflow: hidden;
  margin: 0;
  height: 100vh;
  /* height: calc(var(--vh, 1vh) * 100); */
  background: #222222 linear-gradient(-45deg,
      rgba(255, 255, 255, 0.15) 25%,
      transparent 25%,
      transparent 50%,
      rgba(255, 255, 255, 0.15) 50%,
      rgba(255, 255, 255, 0.15) 75%,
      transparent 75%,
      transparent) !important;
}

.body-sutysisku {
  background-size: 40px 40px !important;
}

/* @media (prefers-color-scheme: dark) {
  .body-sutysisku {
    background-image: initial;
    background-color: rgb(40, 40, 40) !important;
  }
} */

/* .body-muplis {
  background-color: #fdbf00;
  background-image: url('../pixra/bifce.svg');
  background-image: url('../pixra/bifce.svg'),
    linear-gradient(to bottom right, hsl(45, 100%, 35%), #bb7000, #bb7000);
} */

.body-muplis::before {
  content: '';
  z-index: -1;
  position: inherit;
  inset: -3px;
  width: inherit;
  height: inherit;
  background-image: inherit;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  filter: blur(2px) brightness(0.6);
}

.body-muplis {
  background-image: url('../pixra/murse.jpg') !important;
  background-size: 0 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: fixed;
}

.content {
  padding-left: 5px;
  padding-right: 5px;
  overflow: auto;
  /*height:100%;*/
  box-sizing: border-box;
}

.content-panel {
  max-width: 700px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.valsi {
  hyphens: none;
}

.valsi,
.definition:not(.subdefinitions),
.rafsi {
  /* margin-bottom: 15px; */
  font-family: Libertine, Tahoma, Lato, sans-serif;
  /* font-size: 110%; */
}

.citri {
  font-size: 90%;
}

a {
  color: #2b79e0;
  text-decoration: none;
}

ul {
  margin-top: 0;
}

ul>li>a {
  color: #7d0505;
}

.citrycmi {
  margin-left: 5px;
  border-left: 1px #ccc solid;
  border-top: 1px #ccc solid;
  padding: 3px;
  display: inline-block;
}

.a-selmaho {
  color: #0c741d;
}

.a-catni {
  color: #2b4ae0;
}

.a-fanva {
  color: #952be0;
}

.a-rimni {
  color: #af0a0a;
}

.a-arxivo {
  color: #b59b14;
}

#descr {
  margin: 5px 0 15px 0;
  text-align: center;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
  color: #333;
  /* font-size: 90%; */
}

#loading {
  font-size: 90%;
  text-align: center;
  margin: 0;
  display: none;
  justify-content: center;
  align-items: center;
  padding: 0;
  height: 24px;
  width: 100%;
  top: 42px;
  /* bottom: 0px; */
  left: 0px;
  position: relative;
  background: white;
  z-index: 199;
  box-shadow: 0 0 0 1px rgb(56,136,233), 0 0 0 2px rgb(34,87,213),
    0 0 0 3px rgb(38,99,224), 0 0 0 4px rgb(25,65,165);
}

#velsku {
  text-align: left;
  margin: 0;
  /* display: none; */
  /* justify-content: baseline; */
  /* align-items: flex-start; */
  padding: 0;
  /* height: 28px; */
  width: 100%;
  bottom: 0px;
  left: 0px;
  position: fixed;
  background: white;
  z-index: 10;
}

#velsku_sebenji {
  padding: 0.1rem;
  display: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  box-shadow: 0 0 0 1px rgb(56 136 233), 0 0 0 2px rgb(34 87 213),
    0 0 0 3px rgb(38 99 224), 0 0 0 4px rgb(25 65 165);
  margin-top: 3px;
}

.velsku_pamei {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.velsku_pixra {
  max-height: 20px;
  margin-right: 0.2rem;
}

#report_feedback_main {
  z-index: 11;
}

sup,
sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
  font-size: 70%;
}

sub {
  top: 0.4em;
}

.ralju-tutci {
  border-top: 0;
  height: 29px;
  margin: 5px 0 0 5px;
}

/* #catni {
  border-radius: 0 0 0 3px;
}

#rimni {
  border-radius: 0 0 3px 3px;
}

#cnano {
  border-radius: 0 0 3px 0;
  border-left: 1px #ccc solid;
  margin-left: -1px;
} */

.align-right {
  margin-left: auto !important;
  display: block;
  /* float: none !important; */
}

.tutci {
  height: 25px;
  min-width: 25px;
  margin-left: 8px !important;
}

.tutci-pixra {
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: 90% 90% !important;
}

.tutci-blanu {
  box-shadow: inset 0px -3px 7px 0px #29bbff;
  background: linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
  border-radius: 3px;
  border: 1px solid #000000;
  /* display: inline; */
  cursor: pointer;
  color: #ffffff;
  padding: 4px;
  margin: 0 0 0 8px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #263666;
  height: 25px;
  user-select: none;
  box-sizing: border-box;
}

.tutci-blanu img {
  height: 14px;
}

.tutci-dizlo {
  height: 21px;
  position: fixed;
  bottom: 1px;
  right: 10px;
  right: 1.125em;
  border-radius: 3px 3px 0 0;
  border-bottom: 0;
}

.jvo_plumber {
  background-blend-mode: luminosity;
  background-color: #fff !important;
}

.jvo_plumber.tutci-hover {
  background-blend-mode: initial;
}

.klesi {
  font-style: italic;
  white-space: nowrap;
  overflow: hidden;
  float: right;
  color: #000;
  text-overflow: ellipsis;
  text-shadow: 0 1px 0 #fff;
}

.link {
  padding-right: 2px;
  text-decoration: underline;
}

.segerna {
  white-space: nowrap;
  /* text-decoration: underline; */
}

.sampu {
  padding: 0;
  margin: 0 0 0 5px;
  padding: 2px 2px 2px 0;
  font-size: 90%;
}

.romoi_lehiseciska {
  margin: 0px 8px 0px 0px;
  font-style: italic;
  color: #888;
  display: inline-block;
}

.tanxe {
  margin: 0px 5px 0px 0px;
  border: 2px solid bisque;
  background: antiquewhite;
  border-radius: 30px;
  padding: 4px 10px 4px 10px;
  display: inline-block;
}

.kurfa_tanxe {
  border-radius: 3px;
}

.zunle_tanxe {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: 0;
  border-right: 0;
  padding-right: 25px;
  background: #f8e1c4;
}

.pritu_tanxe {
  margin-left: -16px;
  border: 2px solid rgb(255 218 173 / 1);
}

#arxivo {
  display: none;
}

.DIV_1 {
  /* border-collapse: collapse; */
  /* bottom: 0px; */
  /* box-shadow: rgb(255, 255, 204) 0px 0px 1px 0px inset; */
  /* box-sizing: border-box; */
  display: inline-block;
  /*height: 150px;*/
  /* left: 0px; */
  position: relative;
  /* right: 0px; */
  /* text-shadow: rgba(0, 0, 0, 0.4) 2px 2px 4px; */
  /* top: 0px; */
  /* width: 150px;*/
  /* perspective-origin: 75px 75px; */
  /* transform-origin: 75px 75px; */
  /* user-select: none; */
  margin: 5px;
  /*outline: rgb(153, 153, 153) solid 1px;*/
}

.DIV_1:active,
.xp-btn:active,
.tutci-blanu:active,
.bangu:active {
  transform: translateY(1px);
  /* Scaling button to 0.98 to its original size */
  /* box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24); */
  /* Lowering the shadow */
}

.DIV_2 {
  /* border-collapse: collapse;
bottom: 0px;
box-sizing: border-box; */
  /* height: 150px;*/
  /* left: 0px; */
  position: absolute;
  /* right: 0px;
text-shadow: rgba(0, 0, 0, 0.4) 2px 2px 4px;
top: 0px; */
  /*width: 150px;*/
  /* perspective-origin: 75px 75px;
transform-origin: 75px 75px;
user-select: none;
overflow: hidden; */
}

.SPAN_3 {
  /* border-collapse: collapse; */
  bottom: 0px;
  box-sizing: border-box;
  /* display: block; */
  /* height: 53px;*/
  /*left: 10px;*/
  position: absolute;
  right: 0px;
  /* text-shadow: rgba(0, 0, 0, 0.4) 2px 2px 4px; */
  /*top: 97px;*/
  /*width: 140px;*/
  z-index: 999;
  /* perspective-origin: 70px 26.5px;
transform-origin: 70px 26.5px;
user-select: none; */
  background: rgba(255, 255, 255, 0.6) none repeat scroll 0% 0% / auto padding-box border-box;
  font: normal normal bold normal 14px / 15.4px Tahoma, Roboto, sans-serif, serif;
  padding: 4px 4px;
  pointer-events: none;
  text-align: right;
}

.B_4 {
  /* border-collapse: collapse;
box-sizing: border-box; */
  text-shadow: rgba(0, 0, 0, 0.4) 2px 2px 4px;
  /* user-select: none; */
  font: normal normal bold normal 14px / 15.4px Tahoma, Roboto, sans-serif, serif;
}

.A_7 {
  display: block;
  border-collapse: collapse;
  box-sizing: border-box;
  /*color: rgb(32, 134, 191);*/
  text-decoration: none;
  text-shadow: rgba(0, 0, 0, 0.4) 2px 2px 4px;
  /*column-rule-color: rgb(32, 134, 191);*/
  user-select: none;
  border: 0;
  font: normal normal bold normal 14px / 15.4px Tahoma, Roboto, sans-serif, serif;
  /*outline: rgb(32, 134, 191) none 0px;*/
}

.DIV_8 {
  height: 100%;
  width: 100%;
  position: absolute;
  /* border-collapse: collapse;
box-sizing: border-box;
/*color: rgb(32, 134, 191);*/
  /* height: 150px;*/
  /* text-shadow: rgba(0, 0, 0, 0.4) 2px 2px 4px; */
  /* width: 150px;*/
  /* column-rule-color: rgb(32, 134, 191);
perspective-origin: 75px 75px;
transform-origin: 75px 75px;
user-select: none; */
  /*background: rgba(0, 0, 0, 0) no-repeat scroll 0% 0% / cover padding-box border-box;*/
  background-position: center;
  background-color: #ffffff;
  background-size: contain;
  background-repeat: no-repeat;
  /*border: 0px none rgb(32, 134, 191);*/
  /* font: normal normal bold normal 14px / 15.4px Tahoma, Roboto, sans-serif, serif; */
  /*outline: rgb(32, 134, 191) none 0px;*/
}

#leitutci {
  display: flex;
  white-space: nowrap;
  padding: 0 3px 0 3px;
  margin-left: auto;
  margin-right: 0;
  text-align: right;
}

.cll {
  border-radius: 7px;
}

.ralju {
  display: flex;
}

.sidju-normal {
  padding: 8px 12px 6px;
}

.sidju-top {
  padding: 0;
}

.sidju {
  min-height: 45px;
  margin-top: 0px;
  margin-bottom: 15px;
  text-align: left;
  /*background: #F7F7F2;*/
  background: white;
  border-bottom-left-radius: 7px 7px;
  border-bottom-right-radius: 7px 7px;
  border-width: 0px;
  border-style: solid;
  border-top: none;
  box-shadow: 0 0 0 1px rgb(56,136,233), 0 0 0 2px rgb(34,87,213),
    0 0 0 3px rgb(38,99,224), 0 0 0 4px rgb(25,65,165);
}

.sidju.cll {
  margin-top: 9px;
}

#cpacu {
  width: 100%;
  position: relative;
  display: block;
  background-color: #eee;
  padding: 3px;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
}

#kernelo_lo_cpacu {
  height: 5px;
  display: block;
  background-color: cornflowerblue;
  width: 0%;
  border-radius: 3px;
  transition: width 0.8s ease;
}

.ciksi {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  margin-bottom: 10px;
}

#scrollToTop {
  display: none;
  position: fixed;
  bottom: 35px;
  right: 13px;
  z-index: 999;
  border: none;
  outline: none;
  background-color: #222;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  background-image: url(../pixra/menu.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 41px;
  width: 58px;
  height: 34px;
  transform: rotate(180deg);
  opacity: 0.5;
}

#scrollToTop.dizlo {
  transform: none;
}

#scrollToTop:hover {
  background-color: #555;
  /* Add a dark-grey background on hover */
}

.se-tcidu-pixra {
  max-width: 100%;
  max-height: 100%;
  height: auto;
}

.bangu {
  font-size: 1em;
  min-width: 3em;
  min-height: 2em;
  box-shadow: inset 0px 1px 0px 0px #85cc98;
  background: linear-gradient(to bottom, #5aad70 5%, #4ba563 100%);
  border: 1px solid #3b6e22;
  border-top: 0px;
  border-left: 0px;
  display: inline-block;
  color: #ffffff;
  padding: 3px;
  margin: auto;
  text-decoration: none;
  outline: 0;
}

.bangu:hover {
  background: linear-gradient(to bottom, #4ba563 5%, #5aad70 100%);
}

.centero {
  margin: auto;
  text-align: center;
}

@font-face {
  font-family: 'Libertine';
  src: url('../assets/fonts/linux-libertine/LinLibertine_R.otf');
}

@font-face {
  font-family: 'Libertine';
  src: url('../assets/fonts/linux-libertine/LinLibertine_RI.otf');
  font-style: italic;
}

@font-face {
  font-family: 'Libertine';
  src: url('../assets/fonts/linux-libertine/LinLibertine_RB.otf');
  font-weight: bold;
}

@font-face {
  font-family: 'Libertine';
  src: url('../assets/fonts/linux-libertine/LinLibertine_RBI.otf');
  font-style: italic;
  font-weight: bold;
}

/**/
@font-face {
  font-family: 'crisa-regular';
  src: url('../assets/fonts/crisa-regular.otf');
}

.valsi.zbalermorna {
  max-width: 50%;
  font-family: 'crisa-regular';
  margin-left: 7px;
  font-size: 130%;
  color: #888;
  font-weight: 100;
  white-space: -moz-pre-wrap;
  /* Mozilla */
  white-space: -hp-pre-wrap;
  /* HP printers */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  white-space: -pre-wrap;
  /* Opera 4-6 */
  white-space: pre-wrap;
  /* CSS 2.1 */
  white-space: pre-line;
  /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word;
  /* IE */
  /* word-break: break-all; */
}

/**/
.display-block {
  display: block;
}

.terbricmi {
  /* border-style: dashed; */
  /* border-width: 1px; */
  padding: 1px;
  margin: 0 2px 0 2px;
  /* border-color: #aaa; */
  white-space: nowrap;
  position: relative;
  z-index: 2;
  border-radius: 999px;
}

.terbricmi:first-child {
  margin: 0 2px 0 0;
}

.terbricmi>* {
  margin: 0 6px 0 6px;
}

.veljvocmiterjonmaho {
  position: relative;
  z-index: 0;
  background: #efebcd;
  padding: 2px 8px 2px 8px;
  border-radius: 7px;
  margin: 0 -6px 0 -6px;
  border: 1px solid #cfc368;
}

.modal {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: transparent;
  z-index: 5;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  visibility: hidden;
  transition: visibility 0s linear 0.1s, opacity 0.3s ease;
}

.modal.open {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 21;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal__container {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  width: 32em;
  max-width: 100%;
  padding: 1.25em;
  border-radius: 0.3125em;
  background: #fff;
  font-family: inherit;
  font-size: 1rem;
  box-sizing: border-box;
  box-shadow: 0 0 2px rgb(214, 177, 121);
  z-index: 22;
}

.modal__container>* {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  margin: 0.5rem auto 0.5rem auto;
  font-size: 1rem !important;
  height: auto !important;
}

.modal__textarea {
  width: 100%;
  transition: border-color 0.3s, box-shadow 0.3s;
  border: 1px solid #d9d9d9;
  border-radius: 0.1875em;
  font-size: 1.125em;
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 6%);
  box-sizing: border-box;
  padding: 1rem;
}

.d-none {
  display: none !important;
}

.spinner,
.spinner:before,
.spinner:after {
  background: #ffffff;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}

.spinner {
  color: #ffffff;
  text-indent: -9999em;
  position: relative;
  font-size: 3px;
  margin: 0 10px 0 10px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

.spinner:before,
.spinner:after {
  position: absolute;
  top: 0;
  content: '';
}

.spinner:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner:after {
  left: 1.5em;
}

@-webkit-keyframes load1 {

  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }

  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}

@keyframes load1 {

  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }

  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}

.xp-btn-list .xp-btn {
  border-radius: 0;
  margin: 0;
}

.xp-btn-list .xp-btn:first-child {
  border-bottom-left-radius: 3px;
}

.xp-btn-list .xp-btn:not(:last-child) {
  border-right: 0;
}

.xp-btn-list .xp-btn:last-child {
  border-bottom-right-radius: 3px;
}


.xp-btn-list .ralju-tutci:first-child {
  margin-left: 5px;
}

.xp-btn {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  border: 1px solid #003c74;
  background: linear-gradient(180deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(236, 235, 229, 1) 86%,
      rgba(216, 208, 196, 1) 100%);
  box-shadow: none;
  border-radius: 3px;
  padding: 4px 10px 4px 10px;
  cursor: default;
  font-family: "Pixelated MS Sans Serif", Arial;
  -webkit-font-smoothing: antialiased;
  font-size: 11px;
}

.tutci-hover,
.xp-btn:not(:disabled):active,
.xp-btn:not(:disabled).active {
  box-shadow: none;
  background: linear-gradient(180deg,
      rgba(205, 202, 195, 1) 0%,
      rgba(227, 227, 219, 1) 8%,
      rgba(229, 229, 222, 1) 94%,
      rgba(242, 242, 241, 1) 100%);
}

.xp-btn:not(:disabled):hover {
  box-shadow: inset -1px 1px #fff0cf, inset 1px 2px #fdd889,
    inset -2px 2px #fbc761, inset 2px -2px #e5a01a;
}

.xp-btn:focus,
.xp-btn.focused {
  box-shadow: inset -1px 1px #cee7ff, inset 1px 2px #98b8ea,
    inset -2px 2px #bcd4f6, inset 1px -1px #89ade4, inset 2px -2px #89ade4;
}

.xp-btn::-moz-focus-inner {
  border: 0;
}

.sihesle {
  color: #fff;
  font-size: 1em;
  font-family: Arial, sans-serif;
  text-shadow: 0 0 5px #000;
}

@-webkit-keyframes sihesle_farlu {
  0% {
    top: -10%;
  }

  100% {
    top: 100%;
  }
}

@-webkit-keyframes sihesle_slilu {
  0% {
    -webkit-transform: translateX(0) rotate(0deg);
    transform: translateX(0) rotate(0deg);
  }

  50% {
    -webkit-transform: translateX(80px) rotate(180deg);
    transform: translateX(80px) rotate(180deg);
  }

  100% {
    -webkit-transform: translateX(0) rotate(359deg);
    transform: translateX(0) rotate(359deg);
  }
}

@keyframes sihesle_farlu {
  0% {
    top: -10%;
  }

  100% {
    top: 100%;
  }
}

@keyframes sihesle_slilu {
  0% {
    transform: translateX(0) rotate(0deg);
  }

  50% {
    transform: translateX(80px) rotate(180deg);
  }

  100% {
    transform: translateX(0) rotate(359deg);
  }
}

.sihesle {
  position: fixed;
  top: -10%;
  z-index: 9999;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  -webkit-animation-name: sihesle_farlu, sihesle_slilu, sihesle_carna;
  -webkit-animation-duration: 40s, 7s;
  -webkit-animation-timing-function: linear, ease-in-out;
  -webkit-animation-iteration-count: infinite, infinite;
  -webkit-animation-play-state: running, running;
  animation-name: sihesle_farlu, sihesle_slilu;
  animation-duration: 40s, 7s;
  animation-timing-function: linear, ease-in-out;
  animation-iteration-count: infinite, infinite;
  animation-play-state: running, running;
}

.pyro {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  box-shadow: -120px -218.66667px blue, 248px -16.66667px #00ff84,
    190px 16.33333px #002bff, -113px -308.66667px #ff009d,
    -109px -287.66667px #ffb300, -50px -313.66667px #ff006e,
    226px -31.66667px #ff4000, 180px -351.66667px #ff00d0,
    -12px -338.66667px #00f6ff, 220px -388.66667px #99ff00,
    -69px -27.66667px #ff0400, -111px -339.66667px #6200ff,
    155px -237.66667px #00ddff, -152px -380.66667px #00ffd0,
    -50px -37.66667px #00ffdd, -95px -175.66667px #a6ff00,
    -88px 10.33333px #0d00ff, 112px -309.66667px #005eff,
    69px -415.66667px #ff00a6, 168px -100.66667px #ff004c,
    -244px 24.33333px #ff6600, 97px -325.66667px #ff0066,
    -211px -182.66667px #00ffa2, 236px -126.66667px #b700ff,
    140px -196.66667px #9000ff, 125px -175.66667px #00bbff,
    118px -381.66667px #ff002f, 144px -111.66667px #ffae00,
    36px -78.66667px #f600ff, -63px -196.66667px #c800ff,
    -218px -227.66667px #d4ff00, -134px -377.66667px #ea00ff,
    -36px -412.66667px #ff00d4, 209px -106.66667px #00fff2,
    91px -278.66667px #000dff, -22px -191.66667px #9dff00,
    139px -392.66667px #a6ff00, 56px -2.66667px #0099ff,
    -156px -276.66667px #ea00ff, -163px -233.66667px #00fffb,
    -238px -346.66667px #00ff73, 62px -363.66667px #0088ff,
    244px -170.66667px #0062ff, 224px -142.66667px #b300ff,
    141px -208.66667px #9000ff, 211px -285.66667px #ff6600,
    181px -128.66667px #1e00ff, 90px -123.66667px #c800ff,
    189px 70.33333px #00ffc8, -18px -383.66667px #00ff33,
    100px -6.66667px #ff008c;
  animation: 1s bang ease-out 1 backwards, 1s gravity ease-in 1 backwards,
    3s position linear 1 backwards;
  animation-delay: 0s, 0s, 0s;
}

@keyframes bang {
  from {
    box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white,
      0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white,
      0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white,
      0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white,
      0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white,
      0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white,
      0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white,
      0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white,
      0 0 white, 0 0 white, 0 0 white;
  }
}

@keyframes gravity {
  to {
    transform: translateY(50px);
    opacity: 0;
  }
}

@keyframes position {

  0%,
  19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }

  20%,
  39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }

  40%,
  59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }

  60%,
  79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }

  80%,
  99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}

@keyframes dash {
  to {
    stroke-dashoffset: 18;
  }
}

.arrow {
  pointer-events: none;
}

.arrow__path {
  stroke: #000;
  fill: transparent;
  stroke-dasharray: 6 3;
  stroke-width: 3px;
  animation: dash 2.9s linear reverse infinite;
}

.arrow__head line {
  stroke: #000;
  stroke-width: 3px;
}